div{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(219, 224, 224);
}

h1{
    font-size: 55px;
    display: inline-block;
    width: 100%;
    border:top;
}

a{
    margin: 10px;
}

img{
    height: 190px;
}